.scoreIndex{
  width:70%;
  margin:auto
  
}
.bt{
  border:none
}
.eltab{
  background-color: white;
}

span {
  color: red;
}
.bbhao{
  position: relative;
  top:10px;
  
  
  
}
.head {
  height: 50px;
  width: 100%;
  background-color: rgb(228, 228, 228);
  text-align: left;
  font-size: 20px; 
  background-color: white;
}

.bbdf {
  text-align: left;
  margin-top: 10px;
}

.bbxx1 {
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-bottom: 1px solid rgb(187, 187, 187);
  padding-top: 5px;
  font-size: 1em; 
}

.el-container {
  border: 1px solid rgb(187, 187, 187);
  border-radius: 8px;
}
.bbxx2{
  border:0.5px solid rgb(255, 255, 255);
  background-color: white;
}
.bbxx2 div {
  /* font-size: 0.8em; */
  font-size: 12px;
  margin: 4px;
}

.banbenguimo {
  width: 180px;
}

.zubie {
  position: relative;
  left: 39px;
  top: 3px;
}

.fuzeren {
  position: relative;
  left: 18px;
}

.leixing {
  position: relative;
  left: 20px;
  top: 5px;
}

.guimo {
  position: relative;
  left: 45px;
  top: 10px;
}

.mingcheng {
  position: relative;
  left: 50px;
}

.shijian {
  position: relative;
  left: 65px;
}

.jihua {
  position: relative;
  top: 5px;
}

.jfw_fst {
  text-align: left;
  margin-left: 20px;
}

.xq_head {
  text-align: left;
  border-bottom: 1px solid rgb(187, 187, 187);
  padding-top: 5px;
  font-size: 1em;
  background-color: rgb(255, 255, 255);
}
.xq_main{
  background-color: white;
  padding-left: 5%;
}
.xq_main div {
  /* font-size: 0.8em; */
  font-size: 12px;
  margin: 4px;
}

.xq_error {
  width: 200px;
}

.xq12 {
  position: relative;
  left: 52px;
}

.xq14 {
  position: relative;
  right: 20px;
}

.xq21 {
  position: relative;
  left: 65px;
}

.xq22 {
  position: relative;
  left: 62px;
}

.xq23 {
  position: relative;
  right: 25px;
}

.xq24 {
  position: relative;
  left: 50px;
}
.yl_main{
  background-color: white;
  padding-left: 10%;
}
.yl_main div {
    /* font-size: 0.8em; */
    font-size: 12px;
    margin: 4px;
  }
.yl_error {
    width: 200px;
  }
.yl12{
    position: relative;
    left: 20px; 
    top:5px;
}
.yl13{
    position: relative;
    top:10px;
}
.yl14{
    position: relative;
    right: 35px; 
    top:15px;
}
.yl15{
    position: relative;
    right: 35px; 
    top:15px;
}
.yl16{
    position: relative;
    right: 35px;
    top:15px;
}
.yl21{
    position: relative;
    left: 60px; 
}
.yl22{
    position: relative;
    left: 60px;
    top:5px; 
}
.yl23{
    position: relative;
    right: 35px; 
    top:5px; 
}
.yl24{
    position: relative;
    right: 28px;
}
.yl25{
    position: relative;
    right: 35px; 
}
.yl26{
    position: relative;
    left: 50px; 
}
.yl12{
    position: relative;
    left: 40px; 
}
.bg_head {
    text-align: left;
    border-bottom: 1px solid rgb(187, 187, 187);
    padding-top: 5px;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
  }
  .bg_main{
    background-color: rgb(255, 255, 255);
  }
  .bg_main div {
    /* font-size: 0.8em; */
    font-size: 12px;
    margin: 4px;
  }
.bg_error {
    width: 200px;
  }
.bg12{
    position: relative;
    left: 55px; 
    top:5px;
}
.bg13{
    position: relative;
    top:10px;
}
.bg14{
    position: relative;
    right: 25px; 
    top:15px;
}
.bg15{
    position: relative;
    right: 40px; 
    top:15px;
}
.bg16{
    position: relative;
    left: 50px;
    top:15px;
}
.bg21{
    position: relative;
    left: 60px; 
}
.bg22{
    position: relative;
    left: 60px;
    top:5px; 
}
.bg23{
    position: relative;
    right: 40px; 
    top:5px; 
}
.bg24{
    position: relative;
    right: 25px;
   
}
.bg25{
    position: relative;
    right: 25px; 
}
.yl_head {
    text-align: left;
    border-bottom: 1px solid rgb(187, 187, 187);
    padding-top: 5px;
    font-size: 1em;    
    background-color: rgb(255, 255, 255);
  }
.cc_fst {
    text-align: left;
    margin-left: 20px;
    /* background-color: rgb(228, 228, 228);
    border-radius: 8px; */
  }
.cc_main div {
    /* font-size: 0.8em; */
    font-size: 12px;
    margin: 4px;
  }
.cc_main{
  width:auto;
  height:250px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 6px;
  background-color: white;
}
.ccyls,.cctgl,.btgs,.tgs,.ylzs,.zss,.ccbl{
    width: 200px;
}
.cc11{
    position: relative;
    left: 25px; 
    /* text-align: left; */
}
.cc12{
    position: relative;
    left: 25px; 
    /* text-align: left; */
}
.cc13{
    position: relative;
    left: 20px;    
    /* text-align: left; */
}
.cc14{
    position: relative;
    left: 25px; 
}
.cc15{
    position: relative;
    left: 20px; 
}
.cc21{
    position: relative;
    left: 20px; 
}
.cc22{
    position: relative;
    left: 24px; 
}
.cc23{
    position: relative;
    left: 30px; 
}
.cc24{
    position: relative;
    left: 30px; 
}
.cc25{
    position: relative;
    left: 25px; 
}
.ys_fst{
    text-align: left;
    margin-left: 20px;
}
.a_head{
    text-align: left;
    border-bottom: 1px solid rgb(187, 187, 187);
    padding-top: 5px;
    font-size: 1em; 
    background-color: rgb(255, 255, 255);
}
.a_main div{
    /* font-size: 0.8em; */
    font-size: 12px;
    margin: 4px;
}
.a_tgs,.a_btgs,.a_ylzxgs,.a_zss,.a_tgl,.a_qxs{
    width: 200px;
}
.a11{
    position: relative;
    left: 20px; 
}
.a12{
    position: relative;
    left: 25px; 
}
.a13{
    position: relative;
    left: 28px; 
}
.a14{
    position: relative;
    left: 30px; 
}

.a21{
    position: relative;
    left: 30px; 
}
.a22{
    position: relative;
    left: 20px; 
}
.a23{
    position: relative;
    left: 33px; 
}
.a24{
    position: relative;
    left: 38px; 
}
.a25{
    position: relative;
    right: 15px; 
    top: 5px;
}
.foot{
    text-align: center;
    background-color: rgb(235, 230, 230);
    height:30px;
    position: fixed;    
    bottom:0px;
    margin-left: -2%;
    z-index: 999;    
    width: 100%;
    padding: 10px;
    
}
/* .head_font{
  border: 1px solid black;
  
  position: absolute;
  left: 15%;
  margin-top: 10px;
  font-size:12px
} */
/* .button{
  margin-top: 10px;

} */
.a_main,.b_main,.c_main{
  background-color: white;
}
.a_new,.b_new,.c_new{
    position: relative;
    left: 75%;
    bottom:3%;
}
.a_delete,.b_delete,.c_delete{
    position: relative;
    left: 77%;
    bottom:3%;
}
.b_head{
    text-align: left;
    border-bottom: 1px solid rgb(187, 187, 187);
    padding-top: 5px;
    font-size: 1em; 
    background-color: rgb(255, 255, 255);
}
.b_main div{
    /* font-size: 0.8em; */
    font-size: 12px;
    margin: 4px;
}

.b_tgs,.b_btgs,.b_ylzxgs,.b_zss,.b_tgl,.b_qxs{
    width: 200px;
}
.c_head{
    text-align: left;
    border-bottom: 1px solid rgb(187, 187, 187);
    padding-top: 5px;
    font-size: 1em;
    background-color: rgb(255, 255, 255); 
}
.c_main div{
    /* font-size: 0.8em; */
    font-size: 12px;
    margin: 4px;
}
.c_tgs,.c_btgs,.c_ylzxgs,.c_zss,.c_tgl,.c_qxs{
    width: 200px;
}

input{
    border:none;
    text-align: center;
    border-bottom:1px solid black ;
    width: 70px;
}
